body{
    overflow: hidden;
}

.navbar {
    transition: .5s;
}

@media screen and (min-width: 1024px) {
    .navbar {
        min-height: 6em;
    }
}

.is-center{
    text-align: center;
}

.box{
    background-color: aquamarine;
    min-height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}