body{
    overflow: hidden;
}

.navbar {
    transition: .5s;
}

@media screen and (min-width: 1024px) {
    .main-nav {
        min-height: 6em;
    }
}

.is-center{
    text-align: center;
}

.box{
    border: 1px solid #ddd;
min-height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-fixed-menu{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.footer-fixed-menu .navbar-item {
    color: #fff;
    flex: 1;
    text-align: center;
}
.footer-fixed-menu .navbar-item:hover {
    color: #4a4a4a;
}